<div class="container-fluid fixed-top">
    <div class="row">
        <div class="col-md-6">
            <i class="fa fa-phone"></i>
            Call us: <a href="tel:{{phone}}">{{phone}}</a>
            <i class="fa fa-envelope" style="margin-left: 20px;"></i>
            Mail us: <a href="mailto:{{email}}">{{email}}</a>
        </div>
        <div class="col-md-6 text-right">
            <a href="{{urls.facebook}}"><i class="fa fa-facebook"></i></a>
            <a href="{{urls.twitter}}"><i class="fa fa-twitter"></i></a>
            <a href="{{urls.youtube}}"><i class="fa fa-youtube"></i></a>
        </div>
    </div>
</div>
